@import "../../theme";

.containerOuter {
  background: $color-background;
  display: block;
  overflow: hidden;
  padding: px-to-rem-mobile(15) 0;
  position: static;
  top: 0;
  width: 100%;
  z-index: 10;

  @media #{$mq-tablet-min} {
    padding: px-to-rem(15) 0;
    position: sticky;
  }
}

.containerInner {
  align-items: center;
  display: block;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.linkLogo {
  align-items: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: flex-start;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.heading {
  align-items: flex-start;
  border-right: none;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 px-to-rem(22) 0 px-to-rem(15);
  text-decoration: none;
  transition: max-width 0.1s ease-out, padding-right 0.1s ease-out;
  white-space: nowrap;

  @media #{$mq-tablet-min} {
    border-right: solid 2px $color-yellow-dark;
  }
}

.name {
  color: $color-yellow-dark;
  display: block;
  flex: 0 0 auto;
  font-family: $font-montserrat;
  font-size: px-to-rem(26);
  font-weight: 400;
  line-height: 1.2em;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(22);
  }
}

.title {
  color: $color-white-off;
  display: block;
  flex: 0 0 auto;
  font-family: $font-montserrat;
  font-size: px-to-rem(18);
  font-weight: 300;
  line-height: 1.2em;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(14);
  }
}
