@import "../../theme";

.figure {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: px-to-rem(45) auto;
}

.figureCaption {
  $border-height: 1px;
  $border-color: $color-yellow-light;

  align-self: flex-end;
  border-top: solid $border-height $border-color;
  color: $color-yellow-light;
  flex: 0 1 auto;
  font-size: px-to-rem(14);
  margin: px-to-rem(20) 0 0;
  padding: px-to-rem(15) 0 px-to-rem(15) px-to-rem(15);
  position: relative;

  &::after {
    background-color: $border-color;
    bottom: 0;
    content: "";
    display: block;
    height: $border-height;
    left: 25%;
    position: absolute;
    right: 0;
    top: initial;
  }
}

.image {
  flex: 0 1 auto;
  max-width: 100%;
}
