@import "../../theme";

.h1 {
  @include heading-1;
}

.h2 {
  @include heading-2;
}

.h3 {
  @include heading-3;
}

.h4 {
  @include heading-4;
}

.h5 {
  @include heading-5;
}

.h6 {
  @include heading-6;
}

.icon {
  color: $color-yellow-dark;
  display: inline-block;
  flex: 0 1 auto;
  font-size: 0.6em;
  margin-right: px-to-rem(10);
}

.p {
  @include paragraph;
}

// used for visually hiding content still accessible to screen readers
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.tagline {
  border-bottom: solid 1px $color-yellow-light;
  border-top: solid 1px $color-yellow-light;
  color: $color-yellow-light;
  display: block;
  font-size: px-to-rem(22);
  font-weight: 300;
  line-height: px-to-rem(32);
  margin: 1em 0;
  padding: px-to-rem(15) 0;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(26);
    line-height: px-to-rem(38);
    padding: px-to-rem(20) 0;
  }
}

.underline {
  display: inline-block;
  position: relative;

  &::after {
    background-color: $color-yellow-light;
    bottom: px-to-rem(-2);
    content: "";
    height: px-to-rem(2);
    left: 0;
    max-width: 50%;
    position: absolute;
    width: px-to-rem(110);
  }
}
