@import "../../theme";

.h1 {
  @include heading-1;
}

.h2 {
  @include heading-2;
}

.h3 {
  @include heading-3;
}

.h4 {
  @include heading-4;
}

.h5 {
  @include heading-5;
}

.h6 {
  @include heading-6;
}

.icon {
  color: $color-yellow-dark;
  display: inline-block;
  flex: 0 1 auto;
  font-size: 0.6em;
  margin-right: px-to-rem(10);
}

.p {
  @include paragraph;
}

// used for visually hiding content still accessible to screen readers
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
