@import "../../theme";

.container {
  display: block;
  margin: px-to-rem(30) 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.hidden {
  cursor: none;
}

.loading {
  $spinner-size: px-to-rem(60);

  color: $color-yellow-light;
  font-size: $spinner-size;
  left: 50%;
  margin-left: $spinner-size / -2;
  margin-top: $spinner-size / -2;
  position: absolute;
  top: 50%;
}
