@import "../../theme";

.button {
  background: rgb(0 0 0 / 75%);
  border: none;
  color: $color-white-off;
  display: block;
  font-size: 8vw;
  left: 50%;
  margin-left: -7vw;
  margin-top: -6vw;
  opacity: 1;
  padding: 2vw 2.5vw;
  position: absolute;
  top: 50%;
  z-index: 4;

  &::before,
  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    background: rgb(0 0 0 / 75%);
    border: none;
    color: $color-yellow-light;
    cursor: pointer;
  }

  &:focus {
    outline: dotted 1px $color-yellow-light;
    outline-offset: 2px;
  }

  @media #{$mq-tablet-min} {
    margin-left: 0;
    margin-top: 0;
    top: auto;
  }

  @media #{$mq-tablet} {
    bottom: px-to-rem(12);
    font-size: px-to-rem(24);
    left: px-to-rem(5);
    padding: px-to-rem(10) px-to-rem(20);
  }

  @media #{$mq-medium} {
    bottom: px-to-rem(14);
    font-size: px-to-rem(28);
    left: px-to-rem(8);
    padding: px-to-rem(12) px-to-rem(24);
  }

  @media #{$mq-large} {
    bottom: px-to-rem(15);
    font-size: px-to-rem(32);
    left: px-to-rem(10);
    padding: px-to-rem(15) px-to-rem(28);
  }
}

.title {
  color: $color-yellow-light;
  display: block;
  font-size: 4vw;
  left: 1.5vw;
  margin: 0;
  overflow: visible;
  padding: 0.75vw 1.75vw;
  position: absolute;
  top: 0;
  z-index: 2;

  &::before {
    background: rgb(0 0 0 / 75%);
    border: none 0.5vw $color-yellow-light;
    border-left-style: solid;
    border-right-style: solid;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewX(20deg);
    z-index: -1;
  }

  @media #{$mq-tablet} {
    font-size: px-to-rem(18);
    left: px-to-rem(10);
    padding: px-to-rem(5) px-to-rem(15);

    &--hidden {
      transform: translateY(px-to-rem(-10));
    }

    &::before {
      border-width: px-to-rem(3);
    }
  }

  @media #{$mq-medium} {
    font-size: px-to-rem(22);
    left: px-to-rem(12);
    padding: px-to-rem(7) px-to-rem(18);

    &--hidden {
      transform: translateY(px-to-rem(-12));
    }

    &::before {
      border-width: px-to-rem(4);
    }
  }

  @media #{$mq-large} {
    font-size: px-to-rem(26);
    left: px-to-rem(15);
    padding: px-to-rem(7) px-to-rem(22);

    &--hidden {
      transform: translateY(px-to-rem(-15));
    }

    &::before {
      border-width: px-to-rem(5);
    }
  }
}

.progress {
  background: #000;
  background: $color-yellow-light;
  bottom: 0;
  cursor: pointer;
  height: 1vw;
  left: 0;
  padding: 0;
  position: absolute;
  transition: opacity 0.5s ease-in;
  width: 100%;
  z-index: 5;

  @media #{$mq-tablet} {
    height: px-to-rem(7);
  }

  @media #{$mq-medium} {
    height: px-to-rem(8);
  }

  @media #{$mq-large} {
    height: px-to-rem(10);
  }
}

.spinner {
  $spinner-size: px-to-rem(60);

  color: $color-yellow-light;
  font-size: $spinner-size;
  left: 50%;
  margin-left: $spinner-size / -2;
  margin-top: $spinner-size / -2;
  position: absolute;
  top: 50%;
}
