@import "../../theme";

$gap: px-to-rem(15);
$gap-padded: $gap * 2;

@mixin stack-horizontal {
  flex-direction: row;
  margin: 0 ($gap * -1 / 2);

  &.padded {
    margin: 0 ($gap-padded * -1 / 2);
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 ($gap * -1 / 2);

  &.padded {
    margin: 0 ($gap-padded * -1 / 2);
  }
}

@mixin stack-vertical {
  flex-direction: column;
}

@mixin grid-item-sizes {
  &-100 {
    flex-basis: 100%;
  }

  &-65 {
    flex-basis: 65%;
  }

  &-50 {
    flex-basis: 50%;
  }

  &-35 {
    flex-basis: 35%;
  }
}

.item {
  flex: 1 1;
  padding: 0 ($gap / 2);

  &.padded {
    padding: 0 $gap-padded / 2;
  }

  @media #{$mq-mobile} {
    &.mobile {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-tablet-min} {
    &.tablet {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-medium-min} {
    &.medium {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-large} {
    &.large {
      @include grid-item-sizes;
    }
  }
}
