@use "../Stack/Stack.module.scss";
@import "../../theme";

@mixin grid-item-sizes {
  &-100 {
    flex-basis: 100%;
  }

  &-50 {
    flex-basis: 50%;
  }
}

.item {
  flex: 1 1;

  @media #{$mq-mobile} {
    &.mobile {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-tablet-min} {
    &.tablet {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-medium-min} {
    &.medium {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-large} {
    &.large {
      @include grid-item-sizes;
    }
  }
}
