@import "../../theme";

$gap: px-to-rem(15);
$gap-padded: $gap * 2;

.container {
  display: flex;
  flex-wrap: wrap;

  &.horizontal {
    flex-direction: row;
    margin: 0 ($gap * -1 / 2);

    &.padded {
      margin: 0 ($gap-padded * -1 / 2);
    }
  }

  &.vertical {
    flex-direction: column;
  }
}

@mixin grid-item-sizes {
  &-100 {
    width: 100%;

    // flex-basis: 100%;
  }

  &-50 {
    width: 50%;

    // flex-basis: 50%;
  }
}

.item {
  flex: 1 1 auto;

  &.horizontal {
    padding: 0 ($gap / 2);

    &.padded {
      padding: 0 $gap-padded / 2;
    }
  }

  &.vertical {
    padding: ($gap / 2) 0;

    &.padded {
      padding: ($gap-padded / 2) 0;
    }
  }

  @media #{$mq-large} {
    &.large {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-medium-min} {
    &.medium {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-tablet-min} {
    &.tablet {
      @include grid-item-sizes;
    }
  }

  @media #{$mq-mobile} {
    &.mobile {
      @include grid-item-sizes;
    }
  }
}
