@import "../../theme";

.contentContainer {
  width: $container-mo;
  margin: 0 auto;
  padding: 0 px-to-rem(20);
  max-width: $container-mo;

  @media #{$mq-tablet} {
    max-width: px-to-rem($container-sm);
  }

  @media #{$mq-medium} {
    max-width: px-to-rem($container-md);
  }

  @media #{$mq-large} {
    max-width: px-to-rem($container-lg);
  }
}
