@import "../../theme";

.button {
  align-items: center;
  background: none;
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  flex-direction: row;
  font-family: $font-montserrat;
  font-size: px-to-rem(20);
  font-weight: 400;
  padding: px-to-rem(11) px-to-rem(30);
  position: relative;
  text-decoration: none;
  transition: unset;

  &.ghost {
    padding: 0;
  }

  &::before,
  &::after {
    bottom: 0;
    content: "";
    display: block;
    left: 30%;
    opacity: 0;
    position: absolute;
    right: 30%;
    top: 0;
    transition: unset;
    z-index: -1;
  }

  &::after {
    display: block;
    left: 0;
    opacity: 0;
    right: 0;
    z-index: -2;
  }

  &:link,
  &:visited {
    background: none;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    background: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &::before {
      left: 0;
      opacity: 1;
      right: 0;
      transition: all 0.15s ease-in-out;
    }
  }

  &:focus {
    outline: px-to-rem(2) dashed;
    outline-offset: px-to-rem(4);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &::before {
      left: 0;
      opacity: 1;
      right: 0;
    }
  }

  .icon {
    padding-left: px-to-rem(10);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(23);
    padding: px-to-rem(12) px-to-rem(35);

    &.ghost {
      padding: 0;
    }
  }

  @media #{$mq-tablet-max} {
    font-size: px-to-rem-mobile(20);
    padding: px-to-rem-mobile(12) px-to-rem-mobile(45);

    &.ghost {
      padding: 0;
    }
  }

  @media #{$mq-mobile} {
    clear: both;
  }
}

@mixin button-color($color, $color-accessible-foreground) {
  &:focus {
    outline-color: $color-yellow-light;
  }

  &.hollow {
    border-color: $color;
    color: $color;

    &::before,
    &::after {
      background-color: $color-background;
    }

    &:link,
    &:visited {
      border-color: $color;
      color: $color;
    }

    &:hover,
    &:active,
    &:focus,
    &[disabled] {
      border-color: $color;
      color: $color-accessible-foreground;

      &::before {
        background-color: $color;
      }
    }
  }

  &.ghost {
    border: none;
    color: $color;

    &::before,
    &::after {
      display: none;
    }

    &:link,
    &:visited {
      border: none;
      color: $color;
    }

    &:hover,
    &:active,
    &:focus,
    &[disabled] {
      border: none;
      color: $color;
    }
  }

  &.solid {
    border-color: $color;
    color: $color-accessible-foreground;

    &::before,
    &::after {
      background-color: $color;
    }

    &::after {
      opacity: 1;
    }

    &:link,
    &:visited {
      border-color: $color;
      color: $color-accessible-foreground;
    }

    &:hover,
    &:active,
    &:focus,
    &[disabled] {
      border-color: $color;
      color: $color-accessible-foreground;

      &::before {
        background-color: $color-background;
      }
    }
  }
}

.blue-dark {
  @include button-color($color-blue-dark, $color-white-off);
}

.blue-light {
  @include button-color($color-blue-light, $color-background);
}

.white {
  @include button-color($color-white-off, $color-background);
}

.yellow-light {
  @include button-color($color-yellow-light, $color-background);
}

.yellow-dark {
  @include button-color($color-yellow-dark, $color-background);
}
