@import "../../theme";

$gap: px-to-rem(15);
$gap-padded: $gap * 2;

.stack {
  display: flex;
  flex-wrap: wrap;

  &.horizontal {
    flex-direction: row;
    margin: 0 ($gap * -1 / 2);

    &.padded {
      margin: 0 ($gap-padded * -1 / 2);
    }
  }

  &.vertical {
    flex-direction: column;
  }
}

.item {
  flex: 0 1 auto;

  &.horizontal {
    padding: 0 ($gap / 2);

    &.padded {
      padding: 0 $gap-padded / 2;
    }
  }

  &.vertical {
    padding: ($gap / 2) 0;

    &.padded {
      padding: ($gap-padded / 2) 0;
    }
  }
}
