@import "../../theme";

$gap: px-to-rem(15);
$gap-padded: $gap * 2;

@mixin stack-horizontal {
  flex-direction: row;
  margin: 0 ($gap * -1 / 2);

  &.padded {
    margin: 0 ($gap-padded * -1 / 2);
  }
}

@mixin stack-vertical {
  flex-direction: column;
}

.stack {
  display: flex;
  flex-wrap: wrap;

  @each $mqKey, $mq in $mqs {
    @media #{$mq} {
      &.#{$mqKey}-horizontal {
        @include stack-horizontal;
      }

      &.#{$mqKey}-vertical {
        @include stack-vertical;
      }
    }
  }
}

@mixin item-horizontal {
  padding: 0 ($gap / 2);

  &.padded {
    padding: 0 $gap-padded / 2;
  }
}

@mixin item-vertical {
  padding: ($gap / 2) 0;

  &.padded {
    padding: ($gap-padded / 2) 0;
  }
}

.item {
  flex: 0 1 auto;

  @each $mqKey, $mq in $mqs {
    @media #{$mq} {
      &.#{$mqKey}-horizontal {
        @include item-horizontal;
      }

      &.#{$mqKey}-vertical {
        @include item-vertical;
      }
    }
  }
}
