@mixin anchor {
  color: var(--color-primary-light);
  text-decoration: underline;

  &:link,
  &:visited {
    color: var(--color-primary-light);
    text-decoration: underline;
  }

  &:hover,
  &:active {
    color: var(--color-primary-light);
    text-decoration: none;
  }
}

a {
  @include anchor;
}
