@mixin blockquote {
  border-left: solid px-to-rem(5) var(--color-primary-light);
  color: var(--color-primary-light);
  display: block;
  font-size: 1em;
  line-height: 1.72em;
  margin: 0 0 px-to-rem(26) 0;
  padding: 0 0 0 px-to-rem(10);
  position: relative;

  @media #{$mq-large} {
    margin: 0 0 px-to-rem(30) 0;
    padding: 0 0 0 px-to-rem(12);
  }
}

blockquote {
  @include blockquote;
}
