@mixin button-base {
  background: none;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: $font-montserrat;
  font-size: px-to-rem(20);
  font-weight: 400;
  padding: px-to-rem(11) px-to-rem(30);
  position: relative;
  text-decoration: none;
  transition: unset;

  &::before,
  &::after {
    background-color: $color-background;
    bottom: 0;
    content: "";
    display: block;
    left: 30%;
    opacity: 0;
    position: absolute;
    right: 30%;
    top: 0;
    transition: unset;
    z-index: -1;
  }

  &::after {
    background-color: $color-white-off;
    display: block;
    left: 0;
    opacity: 0;
    right: 0;
    z-index: -2;
  }

  &:link,
  &:visited {
    background: none;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    background: none;
    border-style: solid;
    border-width: 1px;
    color: $color-background;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &::before {
      left: 0;
      opacity: 1;
      right: 0;
      transition: all 0.15s ease-in-out;
    }
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &::before {
      left: 0;
      opacity: 1;
      right: 0;
    }
  }

  @media #{$mq-large} {
    font-size: px-to-rem(23);
    padding: px-to-rem(12) px-to-rem(35);
  }

  @media #{$mq-tablet-max} {
    font-size: px-to-rem-mobile(20);
    padding: px-to-rem-mobile(12) px-to-rem-mobile(45);
  }

  @media #{$mq-mobile} {
    clear: both;
    display: block;
    float: left;
  }
}

@mixin button {
  @include button-base;

  border-color: $color-white-off;
  color: $color-white-off;

  &:link,
  &:visited {
    border-color: $color-white-off;
    color: $color-white-off;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $color-white-off;
    color: $color-background;

    &::before {
      background-color: $color-white-off;
    }
  }
}

button {
  @include button;
}
