@mixin description-list {
  display: block;
  margin: 0.25em 0;
  padding: 0;
}

dl {
  @include description-list;
}

@mixin description-term {
  display: block;
  margin: px-to-rem(15) 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2em;
  color: $color-yellow-light;

  &:first-child {
    margin: 0;
  }
}

dt {
  @include description-term;
}

@mixin description-definition {
  display: block;
  margin: 0 0 0 px-to-rem(30);
  padding: 0;
  font-size: 0.95em;
  font-style: italic;

  @media #{$mq-large} {
    margin: 0 0 0 px-to-rem(35);
  }
}

dd {
  @include description-definition;
}
