html {
  background-color: $color-background;
  color: $color-white-off;
  font-family: $font-opensans;
  font-size: $font-size-em;

  @media #{$mq-mobile} {
    font-size: $font-size-em-mo;
  }
}

* {
  box-sizing: border-box;
}
