@mixin label {
  color: $color-yellow-light;
  display: block;
  font-family: $font-opensans;
  font-size: px-to-rem(18);
  font-weight: 400;
  margin: 0 0 px-to-rem(10);
}

label {
  @include label;
}
