/**
* modified version of atom-dark theme for `prism.js` which was
* originaly based on Atom's `atom-dark`
* theme: https://github.com/atom/atom/tree/master/packages/atom-dark-syntax
*/
@use "sass:color";
@import "../theme";

$color-code-blue-light: color.adjust($color-blue-light, $lightness: 10%);
$color-code-comment: #898989;
$color-code-number: #e09b3b;

code[class*="language-"],
pre[class*="language-"] {
  color: #c5c8c6;
  direction: ltr;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

/* Code blocks */
pre[class*="language-"] {
  border-radius: 0.3em;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $color-black;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  padding: 0.1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $color-code-comment;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: $color-code-blue-light;
}

.token.class-name {
  color: #ffffb6;
}

.token.boolean,
.token.constant {
  color: #9c9;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: $color-code-number;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $color-yellow-light;
}

.token.variable {
  color: $color-code-blue-light;
}

.token.operator {
  color: #ededed;
}

.token.entity {
  color: #ffffb6;
  cursor: help;
}

.token.url {
  color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a;
}

.token.atrule,
.token.attr-value {
  color: #f9ee98;
}

.token.function {
  color: #a8ff60;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
