@mixin quote {
  color: var(--color-primary-light);
  display: inline;
  font-size: 1em;
  font-style: italic;
  line-height: 1.6em;

  &::before {
    color: inherit;
    content: open-quote;
  }

  &::after {
    color: inherit;
    content: close-quote;
  }
}

q {
  @include quote;
}
