@import "../../theme";

.container {
  background: none;
  bottom: 0;
  color: $color-white-off;
  display: block;
  font-family: $font-montserrat;
  font-size: px-to-rem(20);
  font-weight: 300;
  left: 0;
  line-height: 1em;
  margin: 0;
  max-height: 0;
  padding: 0;
  position: fixed;
  text-transform: uppercase;
  transition: max-height 0.2s ease-in;
  width: 100%;
  z-index: 10;

  &.open {
    max-height: px-to-rem-mobile(100);
  }

  @media #{$mq-tablet-min} {
    float: left;
    margin: 0 0 0 px-to-rem(7);
    max-height: none;
    position: relative;
  }
}

.mobileToggler {
  bottom: 100%;
  display: block;
  left: 0;
  position: absolute;

  @media #{$mq-tablet-min} {
    display: none;
  }

  button {
    align-items: center;
    background-color: $color-yellow-light;
    border: none;
    color: $color-background;
    display: inline-flex;
    flex-direction: row;
    float: none;
    height: 12vw;
    justify-content: center;
    line-height: 1em;
    max-height: px-to-rem-mobile(60);
    max-width: px-to-rem-mobile(60);
    padding: 0;
    width: 12vw;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $color-yellow-light;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}

.icon {
  color: $color-yellow-light;
  display: block;
  font-size: px-to-rem-mobile(30);
  margin-bottom: px-to-rem-mobile(7);
  transition: transform 0.2s ease-out;

  @media #{$mq-tablet-min} {
    display: none;
  }
}

.togglerIcon {
  color: inherit;
  display: block;
  height: 8vw;
  max-height: px-to-rem-mobile(40);
  max-width: px-to-rem-mobile(40);
  width: 8vw;
}

.list {
  align-items: stretch;
  background-color: #000;
  border-top: solid 1px $color-white-off;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media #{$mq-tablet-min} {
    background: none;
    border-top: none;
    justify-content: flex-start;
    width: auto;
  }
}

.item {
  display: inline-block;
  flex: 1 0 auto;
  margin: 0;
  position: relative;

  &,
  &:nth-of-type(2) {
    padding: px-to-rem(7) px-to-rem(5);
  }

  &::before {
    display: none;
  }

  .homeItem {
    display: block;
  }

  @media #{$mq-tablet-min} {
    flex: 0 0 auto;
    padding: 0 0 0 px-to-rem(14);

    &::before {
      background: none;
      content: "/";
      display: inline-block;
      font-size: px-to-rem(28);
      left: 0;
      padding: px-to-rem(5) 0 0;
      position: absolute;
      top: 0;
    }

    &:nth-of-type(2) {
      padding: 0;

      &::before {
        content: "";
        display: none;
      }
    }

    &.homeItem {
      display: none;
    }
  }
}

.link {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: px-to-rem-mobile(16);
  padding: px-to-rem-mobile(10) px-to-rem(5);

  &::before,
  &::after {
    content: "";
    display: none;
  }

  &:link,
  &:visited {
    color: $color-white-off;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $color-white-off;
    text-decoration: none;

    .icon {
      transform: translate(0, px-to-rem(-5));
    }
  }

  &.currentLink {
    border-bottom: solid 1px $color-yellow-light;
  }

  @media #{$mq-tablet-min} {
    display: inline-block;
    font-size: 1em;
    padding: px-to-rem(5) px-to-rem(18);
    position: relative;

    &::before,
    &::after {
      background-color: $color-yellow-light;
      content: "";
      display: block;
      height: px-to-rem(2);
      position: absolute;
      top: 0.9em;
    }

    &:link,
    &:visited {
      &::before {
        left: px-to-rem(5);
        transition: width 0.25s;
        width: 0;
      }

      &::after {
        right: px-to-rem(5);
        transition: width 0.25s;
        width: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-white-off;
      text-decoration: none;

      &::before {
        left: px-to-rem(5);
        transition: width 0.25s;
        width: px-to-rem(8);
      }

      &::after {
        right: px-to-rem(5);
        transition: width 0.25s;
        width: px-to-rem(8);
      }
    }

    &:focus {
      outline: dotted 1px $color-white-off;
    }

    &.currentLink {
      border-bottom: none;
      color: $color-yellow-light;

      &::before {
        left: px-to-rem(5);
        width: px-to-rem(8);
      }

      &::after {
        right: px-to-rem(5);
        width: px-to-rem(8);
      }

      &:link,
      &:visited {
        color: $color-yellow-light;

        &::before {
          left: px-to-rem(5);
          width: px-to-rem(8);
        }

        &::after {
          right: px-to-rem(5);
          width: px-to-rem(8);
        }
      }

      &:hover,
      &:active {
        color: $color-yellow-light;
      }
    }
  }
}
