@mixin heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

@mixin heading-1 {
  @include heading;

  color: $color-yellow-dark;
  font-family: $font-montserrat;
  font-size: px-to-rem(86);
  font-weight: normal;
  line-height: px-to-rem(96);
  margin: px-to-rem(50) 0 px-to-rem(20);
  padding: 0;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem-mobile(41);
    font-weight: 700;
    line-height: px-to-rem-mobile(46);
    margin: px-to-rem-mobile(30) 0 px-to-rem-mobile(35);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(101);
    font-weight: normal;
    line-height: px-to-rem(112);
    margin: px-to-rem(59) 0 px-to-rem(23);
  }
}

@mixin heading-2 {
  @include heading;

  color: $color-blue-light;
  font-family: $font-montserrat;
  font-size: px-to-rem-mobile(34);
  font-weight: 700;
  line-height: px-to-rem-mobile(40);
  margin: px-to-rem(30) 0 px-to-rem(15);
  padding: 0;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(44);
    line-height: px-to-rem(50);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(52);
    line-height: px-to-rem(59);
  }
}

@mixin heading-3 {
  @include heading;

  color: $color-white-off;
  font-family: $font-montserrat;
  font-size: px-to-rem-mobile(20);
  font-weight: 400;
  line-height: px-to-rem-mobile(26);
  margin: px-to-rem(20) 0 px-to-rem(8);
  padding: 0 0 px-to-rem(5);

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(28);
    line-height: px-to-rem(34);
    margin: px-to-rem(25) 0 px-to-rem(10);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(32);
    line-height: px-to-rem(40);
    margin: px-to-rem(25) 0 px-to-rem(10);
  }
}

@mixin heading-4 {
  @include heading;

  color: $color-yellow-light;
  font-family: $font-montserrat;
  font-size: px-to-rem-mobile(19);
  font-weight: 700;
  line-height: px-to-rem-mobile(22);
  margin: px-to-rem(20) 0 px-to-rem(8);
  padding: 0;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(27);
    line-height: px-to-rem(31);
    margin: px-to-rem(22) 0 px-to-rem(10);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(27);
    line-height: px-to-rem(31);
    margin: px-to-rem(22) 0 px-to-rem(10);
  }
}

@mixin heading-5 {
  @include heading;

  color: $color-yellow-light;
  font-family: $font-opensans;
  font-size: px-to-rem(22);
  font-weight: 400;
  line-height: px-to-rem(24);
  margin: px-to-rem(20) 0 px-to-rem(8);
  padding: 0;
  text-transform: uppercase;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem-mobile(17);
    line-height: px-to-rem-mobile(20);
    margin: px-to-rem(20) 0 px-to-rem(8);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(22);
    line-height: px-to-rem(24);
    margin: px-to-rem(20) 0 px-to-rem(8);
  }
}

@mixin heading-6 {
  @include heading;

  color: $color-yellow-light;
  font-family: $font-opensans;
  font-size: px-to-rem-mobile(14);
  font-weight: 400;
  line-height: px-to-rem-mobile(17);
  margin: px-to-rem(20) 0 px-to-rem(8);
  padding: 0;
  text-transform: uppercase;

  @media #{$mq-tablet-min} {
    font-size: px-to-rem(17);
    line-height: px-to-rem(20);
    margin: px-to-rem(20) 0 px-to-rem(8);
  }

  @media #{$mq-large} {
    font-size: px-to-rem(17);
    line-height: px-to-rem(20);
    margin: px-to-rem(20) 0 px-to-rem(8);
  }
}

@mixin paragraph {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.833em;
  margin: 0 0 px-to-rem(26) 0;
  overflow: hidden;
  padding: 0;

  @media #{$mq-tablet-min} {
    line-height: 1.72em;
  }
}
