@import "../../theme";

.link {
  background-color: var(--color-background);
  border: solid 1px var(--color-foreground);
  display: inline-block;
  font-size: px-to-rem(20);
  left: -10rem;
  padding: px-to-rem(10) px-to-rem(20);
  position: absolute;
  top: -4rem;
  z-index: 11;

  &:focus {
    left: 0;
    top: 0;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: var(--color-primary-light);
    text-decoration: none;
  }
}
