@import "../../theme";

.outerContainer {
  align-items: center;
  border: none;
  display: block;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  transition: max-width 0.1s ease-out;
  width: px-to-rem(60);

  &:link,
  &:visited {
    cursor: pointer;
  }

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:focus {
    outline: dotted 1px var(--color-foreground);
  }

  &::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}

.innerContainer {
  display: block;
  height: 1px;
  padding-bottom: 52 / 60 * 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.logo {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
