@import "../../theme";

.containerOuter {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;

  @media #{$mq-tablet-min} {
    // psuedo element used to as half "V"
    &::after {
      border-bottom: solid 3px $color-yellow-light;
      border-top: solid 3px $color-yellow-light;
      bottom: 100%;
      content: "";
      display: block;
      height: px-to-rem(50);
      left: 67%;
      position: absolute;
      transform: rotate(68deg);
      transform-origin: bottom left;
      transition: transform 0.2s ease-in;
      width: 200%;
    }
  }

  @media #{$mq-tablet} {
    padding-top: px-to-rem(20);
  }

  @media #{$mq-medium-min} {
    &::after {
      left: 50%;
      transform: rotate(55deg);
    }
  }

  @media #{$mq-medium} {
    padding-top: px-to-rem(45);
  }

  @media #{$mq-large} {
    padding-top: px-to-rem(45);
  }
}

.containerInner {
  flex: 0 1 100%;
  font-size: px-to-rem(22);
  line-height: 1.7;
  margin: 0;

  @media #{$mq-tablet} {
    flex-basis: 70%;
    flex-grow: 0;
  }

  @media #{$mq-medium-min} {
    flex-basis: 50%;
  }

  .heading {
    margin-top: 0;
  }
}

.button {
  margin: 0 0 px-to-rem(20);

  @media #{$mq-tablet-min} {
    margin: 0;
  }
}
